---
title: Title for include EXPLICIT.HBS
description: Description for include EXPLICIT.HBS
---
<article id="explict">
  <div class="title">
    {{title}}
  </div>
  <p class="description"> {{description}} </p>
</article>



{{include 'page-yfm' explicit}}
{{include 'include-yfm' explicit}}
{{include 'include-data-file' explicit}}


{{include 'page-yfm'}}
{{include 'include-yfm'}}
{{include 'include-data-file'}}
