<h2><code>explicit</code> context</h2>
Should be from <code>explicit.json</code>
{{include 'snippet' explicit}}


<h2><code>root</code> context</h2>
Should be from the root context. (this page has no front matter, so `page` falls back on the root context)
{{include 'snippet' page}}


<h2><code>options</code> context</h2>
Should be from the options. (this page has no front matter, so `this` falls back on the `options` context)
{{include 'snippet' this}}


<br>
<br>
<br>
<br>


<h2><code>snippet</code> context</h2>
Should be from the YFM of the include, <code>snippet</code>
{{include 'snippet-yfm'}}



<h2><code>snippet (lodash)</code> context</h2>
Should be resolved from the lodash templates in the YFM of the include, <code>snippet</code>
{{include 'snippet-yfm-lodash'}}


<br>
<br>
<br>
<br>



<h2><code>include yfm</code> context</h2>
Should be from the YFM of the include
{{include 'snippet-yfm' data}}


<br>
<br>
<br>
<br>


<h2>data file context</h2>
Should be from the <code>bar.json</code> data file

{{#bar}}
  {{include 'snippet' this}}
{{/bar}}


<h2>parent context</h2>
Should be from the options.

{{#bar}}
  {{include 'snippet' ../this}}
{{/bar}}


<h2>parent context</h2>
Should be from the root context.

{{#bar}}
  {{include 'snippet' ../page}}
{{/bar}}
